This is the group work by Sun Hee Park, Manling Yang

# Introduction

#### Bike Sharing service
Today, there are many ride-sharing companies that offer users to share car rides, or ride electric scooters or bikes. These companies are very popular, and Uber and Lyft are even called "unicorns," which are startup companies valued at over $1 billion. Lime or Birds, the electric scooter-sharing startup companies, are also popular in San Francisco, Chicago and even in Paris. However, bike sharing is the most worthy of notice to be analyzed now and even for the future. It is because people face practical and realistic problems when sharing and cars and electric scooters which do not exist when people share bikes.

  For example, with car sharing, people have to get a driver's license. They also have to have car insurance and they have to pay extra costs for gas or tiny scratches that might be occur while driving. Regarding electric scooters, safety is considered to be an issue. In California, Electric Scooter Helmet Laws took effect in 2019. However, it is hard to bring a helmet to ride an electric scooter because people usually take a scooter when they go shorter distances than when they go with a car or a bike.

# Data Analytics Workflow
#### type one sources: read CSV file
1. define the csv, numpy, panda, seaborn, and matplotlib first
2. remove the unmeaningful columns from the dataset
3. print the results

#### The attribuates meaning of data sources one:

In [3]:
import csv 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"C:\Users\13750\Desktop\yu\DAV5400 Analytics Programming\Assignment\final proposal\final\NYC-BikeShare-2015-2017.csv")
df

,Unnamed: 0,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Trip_Duration_in_min
0,0,376,2015-10-01 00:16:26,2015-10-01 00:22:42,3212,Christ Hospital,40.734786,-74.050444,3207,Oakland Ave,40.737604,-74.052478,24470,Subscriber,1960.0,1,6
1,1,739,2015-10-01 00:27:12,2015-10-01 00:39:32,3207,Oakland Ave,40.737604,-74.052478,3212,Christ Hospital,40.734786,-74.050444,24481,Subscriber,1960.0,1,12
2,2,2714,2015-10-01 00:32:46,2015-10-01 01:18:01,3193,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,24628,Subscriber,1983.0,1,45
3,3,275,2015-10-01 00:34:31,2015-10-01 00:39:06,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,24613,Subscriber,1975.0,1,5
4,4,561,2015-10-01 00:40:12,2015-10-01 00:49:33,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,24668,Customer,1984.0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735497,12196,239,2017-03-31 21:26:40,2017-03-31 21:30:39,3195,Sip Ave,40.730743,-74.063784,3201,Dey St,40.737711,-74.066921,29276,Subscriber,1970.0,1,4
735498,12197,192,2017-03-31 21:46:57,2017-03-31 21:50:09,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26177,Subscriber,1976.0,1,3
735499,12198,186,2017-03-31 22:03:56,2017-03-31 22:07:02,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26240,Subscriber,1956.0,1,3
735500,12199,618,2017-03-31 23:20:14,2017-03-31 23:30:32,3272,Jersey & 3rd,40.723332,-74.045953,3268,Lafayette Park,40.713464,-74.062859,24398,Subscriber,1984.0,1,10
735501,12200,649,2017-03-31 23:25:34,2017-03-31 23:36:23,3185,City Hall,40.717732,-74.043845,3190,Garfield Ave Station,40.710467,-74.070039,26200,Subscriber,1988.0,1,11

In [7]:
# read the data file from SODA API address
#print the result
df1 = pd.read_csv('https://raw.githubusercontent.com/mandy941/final/master/Chicago-Divvy-2016.csv')
df1

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,926,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,198,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0
2,9080479,3/31/2016 22:24,3/31/2016 22:26,4337,124,344,Ravenswood Ave & Lawrence Ave,242,Damen Ave & Leland Ave,Subscriber,Female,1992.0
3,9080475,3/31/2016 22:22,3/31/2016 22:41,3760,1181,318,Southport Ave & Irving Park Rd,458,Broadway & Thorndale Ave,Subscriber,Female,1979.0
4,9080443,3/31/2016 22:08,3/31/2016 22:19,1270,656,345,Lake Park Ave & 56th St,426,Ellis Ave & 60th St,Subscriber,Female,1997.0
...,...,...,...,...,...,...,...,...,...,...,...,...
72126,12150369,10/01/2016 01:40,10/01/2016 01:43,1651,233,117,Wilton Ave & Belmont Ave,114,Sheffield Ave & Waveland Ave,Subscriber,Male,1971.0
72127,12150340,10/01/2016 01:21,10/01/2016 01:29,4803,472,123,California Ave & Milwaukee Ave,503,Drake Ave & Fullerton Ave,Subscriber,Female,1991.0
72128,12150249,10/01/2016 00:35,10/01/2016 00:53,3906,1069,90,Millennium Park,197,Michigan Ave & Madison St,Customer,NaN,NaN
72129,12150216,10/01/2016 00:19,10/01/2016 00:44,5882,1492,300,Broadway & Barry Ave,300,Broadway & Barry Ave,Subscriber,Male,1993.0
72130,12150187,10/01/2016 00:09,10/01/2016 00:19,490,624,144,Larrabee St & Webster Ave,152,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1992.0


# reference:
1. The good analysis sample for bike: https://www.kaggle.com/rajmehra03/bike-sharing-demand-rmsle-0-3194 and https://www.kaggle.com/sohamsave/bike-renting-analysis (we can copy some function from here)
2. dataset 1: https://www.kaggle.com/samratp/bikeshare-analysis#Chicago-Divvy-2016.csv
3. dataset 2:https://www.kaggle.com/akkithetechie/new-york-city-bike-share-dataset